.section-about {
    background-color: #0f2027;
    background-image: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    padding: 3rem;
}

.container-naslov {
    display: flex;
    justify-content: center;
}

.naslov {
    text-align: center;
    width: 50rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;

    .heading-small {
        text-align: center;
    }

    .about-list {
        list-style-type: none;
        font-size: 4rem;
        padding: 3rem;
        line-height: 1.6;
    }

    .icons {
        width: 3rem;
        height: 3rem;
        margin-right: 1.5rem;
        fill: $color-golden;
    }

}