.section-work {
    padding: 3rem;
    background-color: #0f2027;
    background-image: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}


.work-container {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: space-around;

}


.work-container-item {
    margin: 2rem;
    width: 35rem;
    height: 35rem;
    border-radius: 3%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: 2);
    background-color: black;

}

.work-photo {
    width: 35rem;
    height: 35rem;
    border-radius: 3%;
    opacity: .6;
    transition: transform 0.5s, opacity 0.5s;
}

.work-photo:hover {
    opacity: 1;
    transform: scale(1.05);
}