.section-main {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../Gravinn/img/background1st.png;);
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.heading-primary {

    width: 100rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    text-align: center;

    &__sentence-one {
        color: $color-primary;
        font-size: 10rem;
        font-family: $font-secondary;
        font-weight: 300;
    }

    &__sentence-two {
        color: $color-primary;
        font-size: 7rem;
        font-family: $font-secondary;
        font-weight: 300;
    }
}